# Python
__pycache__/
*.py[cod]
*.egg-info/
.ruff_cache/

# Virtual environment
venv/

# Data
data/processed/
data/raw/*.csv
data/raw/*.zip

# Logs
*.log
monitoring/logs/

# OS files
.DS_Store
Thumbs.db

# Databases
*.db
*.sqlite3

# Environment variables
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Models
models/
*.pkl
*.joblib

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environment variables
**/.env
**/.env.test

# Virtual environments
.venv/
venv/
env/
