# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/

# Data
data/processed/
data/raw/creditcard.csv  # se dataset grande ou sensível

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
data/raw/creditcard.csv

*.pkl
*.joblib
models/