# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/

# Data
data/processed/
data/raw/*.csv
data/raw/*.zip

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Databases
*.db
*.sqlite3

# Environment variables
.env

# IDEs
.vscode/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Models
models/
*.pkl
*.joblib
